@using Microsoft.AspNetCore.Http
@model Assignment2.Models.BlogPost

@{
    Layout = "_Layout";
    ViewBag.Title = "Edit Blog";
}

<div class="container">
    <form asp-controller="Home" asp-action="EditBlog">
        <input type="hidden" value="@Model.BlogPostId" name="BlogPostId" />

        <div class="form-group col-sm-8">
            <label for="text">Title: </label>
            <input asp-for="Title" class="form-control" type="text" placeholder="Title" />
        </div>
        <div class="form-group col-sm-8">
            <label for="text">Short Description: </label>
            <input class="form-control" asp-for="ShortDescription" type="text" placeholder="Short Description" />
        </div>
        <div class="form-group col-sm-8">
            <label for="text">Content: </label>
            <textarea asp-for="Content" class="form-control" typeof="text" data-length="5000"></textarea>
        </div>
        <div class="form-group col-sm-8">
            <label for="date">Posted: </label>
            <input class="form-control" asp-for="Posted" typeof="date" />
        </div>
        <div class="form-group col-sm-8">
            <label for="checkbox">Is Available: </label>
            <input asp-for="IsAvailable" typeof="checkbox" />
        </div>

        <div class="col-sm-8">
            <button class="btn btn-large btn-success" type="submit">Edit Blog</button>
        </div>
    </form>

    <br /><br />

    <h3>Add Image</h3>
    <form asp-controller="Home" asp-action="UploadImage" enctype="multipart/form-data">
        <br />
        <input type="file" name="files" />
        <br />
        <button class="btn btn-large btn-success" name="upload">Add Picture</button>
    </form>

</div>